@import '../library/library.scss';

.topbar {
    border-bottom: $border;
    background-color: $navBlue;
    text-align: center;
    padding: 10px 5px;
    width: 100%;
    float: right;
}

.topbar a {
    color: #fff;
    text-decoration: none;
}

.topbarReg {
    padding: 2px 20px;
    border-right: $navLightBlue;
}

.signUpButton , .loginButton {
    float: right;
    border: $border;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 4px 5px;
}

.signUp {
    float: right;
}

.signUpButton {
    background-color: red;
}

.signUpDrop {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding: 5px 8px;
    margin-top: 30px;
    box-shadow: 0 8px 16px 0;
    z-index: 1;
}

.signUpDrop a {
    text-decoration: none;
    color: #000;
    padding: 12px 16px;
    display: block;
}

.signUpDrop a:hover {
    background-color: #ddd;
}

.signUp:hover .signUpDrop {
    display: block;
}

.signUp:hover .signUpButton {
    background-color: pink;
}

.login {
    float: right;
}

.loginButton {
    background-color: orange;
}

.loginDrop {
    display: none;
    position: absolute;
    margin-top: 30px;
}

.login:hover .loginDrop {
    display: block;
}

.login:hover .loginButton {
    background-color: lightsalmon;
}
