extends ./accountLayout.pug

block content
    .webpage
        .userWelcome
            h1.userAccount Welcome Back #{username + " " + document[0].name}

        .userSidebar
            div
                a Home
                br
                a Shifts
                br
                a Schedule
                br
                a Settings
        .shifts
            h1 Your current position is ${foo}
            br
            h2 Available shifts
            hr
            