extends ./layout.pug

block content
  .webpage
    h1.userCreate Create User Account
    form.userCreate(action="" method="post" enctype="")
      label Username: 
      input.userCreate(type="text" name="companyName" placeholder="username")
      br
      label Password: 
      input.userCreate(type="password" name="password" placeholder="password")
      br
      label Confirm Password: 
      input.userCreate(type="text" name="confirmPassword" placeholder="confirm password")