doctype html
head
  title homepage
  link(href='accounts/accounts.css' type='text/css' rel='stylesheet')

  nav
  .topbar
      .login
        a.loginButton(href='/') Log out
      .signUp
        a.signUpButton Account
        .signUpDrop
          a() Settings
          a() Profile

  block content
    