extends ./accountLayout.pug

block content
    .webpage
        .Welcome
            h1.userAccount #{companyName} Shift Interface
        .Sidebar
            div
                a Home
                br
                a Create Shift
                br
                a Schedule
                br
                a Settings
        .openShifts
            h1 Open Shifts
            hr
            div
        .filledShifts
            h1 Filled shifts
            hr
            div


