extends ./layout.pug

block content
  .webpage
    header
      #homeImg
        h2 Welcome To MySchedule
    .content
      div.who
        a(name='who')
        h2 Who we are
        p
          | Hi my name is Jason Monette and I'm the creator of MySchedule.com! This webite is the result of my final project for an excellent programming, course which I took, called comIT. I doubt that this website will ever become published be used outside of job/school applications, so if you're reading this then you're probably looking to hire or accept me into your company/school. I assure you that I will put my best effort for whatever I have applied for. Thanks for viewing my site and welcome to MySchedule.com!
      div.how
        a(name='how')
        h2 How it works
        p
          | The overall function of this web application is really not too complicated once explained. The login/create account options were programmed using simple MongoDB databases and each of the interactive options were programmed using JavaScript or Scss. If you take the time to look over my sourcecode on #[a(href='https://github.com/xXJasonMXx/') GitHub] you will see how the internal workings of my web application works. Anyways, I hope you enjoy what I have Created!
      div.What
        div.what
          h2 What this does
          p 
            | The idea of this application was to simplify the process of managing human resources in a company. The main function of this application is to manage overtime and extra shifts for a pool of workers in a single company. Each worker belongs to a certain position, each of which are created and named by their company. From there, the company can post shift openings for anyone with the required position. Once a account is made, a position is created, or a shift is taken the corresponding data is sent to a MongoDb database where it it then further porcessed. I hope you will enjoy my site!
        img(src='final/homepage/What_Img.png').whatImg
      .questions
        a(name='questions')
        
        form
          label
            h2 Questions?
          br
          input(type='text' name='subject' placeholder='Subject')
          br
          br
          textarea(name='questionsBox' placeholder='Enter questions here')
      div.organize
        h2 Are you ready to get organized!
        a(href='/user/createAccount') Join Company!
