.right {
  float: right;
}

*.userAccount {
  text-align: center;
}

div.userWelcome {
  background-color: #2bb9ff;
  border: 1px solid black;
  position: relative;
  top: 1vh;
  right: 7px;
  width: calc(100% - 35vh);
  float: right;
  padding: 10px;
}

div.userSidebar {
  background-color: #f1f1f1;
  border: 1px solid black;
  position: fixed;
  top: 6.5vh;
  left: 7px;
  bottom: 0;
  width: 35vh;
  float: left;
}

div.userSidebar div {
  margin: 5px;
  background-color: #fff;
}

div.userSidebar div a {
  border: 1px solid black;
  padding: 15px 17.5px;
  margin-bottom: -2vh;
  display: block;
}

div.userSidebar div a:hover {
  background-color: #d9d9d9;
}

div.userSidebar div a:first-child {
  border-radius: 5px 5px 0 0;
}

div.userSidebar div a:last-child {
  border-radius: 0 0 5px 5px;
}

div.shifts {
  top: 15vh;
  float: right;
  clear: both;
  width: calc(100% - $sidebarWidth);
  position: relative;
}

div.shifts h2 {
  text-align: center;
}
